html{
   height: 100vh;
   font-family: "Roboto Condensed", sans-serif; 
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to left,#050505, #450505, #AB0A0A, #CE0707);
    color:#5a422b;
}

.container{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    background:linear-gradient(to bottom,#5a422b, #91693b, rgb(206, 159, 89), rgb(240, 231, 102));
}

.screen{
    margin: 0;
    background-color: #fff;
    font-size: 60px;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    user-select: none;
}

.screen span{
    display: inline-block;
    width: 85px;
    text-align: center;
    color:#5a422b;
}

.buttons{
    display: flex;
    margin: 10px -5px 0;
}

.buttons button{
    flex: 1;
    background:linear-gradient(to bottom,#5a422b, #91693b);
    color:#fff;
    margin: 0 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    outline: none;
    cursor: pointer;
}

.buttons button:active{
    transition: 0.2s linear;
    transform: scale(1.1);
    color:#5a422b;
    background:linear-gradient(to top, rgb(206, 159, 89), rgb(240, 231, 102));
}